# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
chromium-bundle
build-output

# Large files (don't push to GitHub - only use in builds)
ungoogled-chromium_139.0.7258.154-1.1_windows_x64/
useragents/*.txt

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
